[mysqld]

socket=/var/lib/mysql/mysql.sock
bind-address        = 0.0.0.0

user				= mysql
pid-file			= /run/mysqld/mysqld.pid
socket				= /run/mysqld/mysqld.sock
port				= 3306
basedir				= /usr
datadir				= /var/lib/mysq;
query_cache_size	= 16M